<% if (typeof errors !== 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div role="alert" class="alert alert-error">
            <i class="fa-regular fa-cirlce-xmark"></i>
            <span><%= error.message %></span>
        </div>
    <% }) %>
<% } %>